{% extends 'base.html' %}

{% block content %}
    <h1>Agent List</h1>
    <a href="{% url 'agents:agent-create' %}">Create new agent</a>
        <div class="list-group">
            {% for agent in object_list %}
              <a href="{% url 'agents:agent-detail' agent.pk %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">{{ agent.user.username }}</h6>
                    <p class="mb-0 opacity-75">user name {{ agent.user.username }}</p>
                  </div>
                  <small class="opacity-50 text-nowrap">need to fill</small>
                </div>
              </a>
            {% endfor %}
        </div>

{% endblock%}