{% extends 'base.html' %}

{% block content %}
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">ENSO CRM</h1>
                        <p>A Customer Relationship Management (CRM) system helps manage customer data. It supports sales management, delivers actionable insights, integrates with social media and facilitates team communication. Cloud-based CRM systems offer complete mobility and access to an ecosystem of bespoke apps.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}

    

